/* Navigation Styles */
.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.navbar li {
    font-size: 1.2em;
}

.navbar a {
    color: rgb(255, 251, 251);
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff5722;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff5722;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

/* Active Link Styling */
.nav-link.active {
    color: #ff5722; /* Active link color */
    font-weight: bold;
    text-decoration: underline;
}


/* Hero Section Styling */
.hero {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 20px;
    background-image: url('../assets/culture.jpg'); /* Replace with your image path */
    background-size: cover;  /* Ensures the image covers the entire area */
    background-position: center center; /* Centers the image to avoid space */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}


.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 4em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 1.8em;
    margin-top: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
